.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 980px;
}

.contact-middle {
    padding: 15px;
}

.contact-left-content, .contact-right-content {
    max-width: 500px;
}

.contact-left-content img {
    width: 100%;
}

.contact-right-content form {
    display: flex;
    flex-direction: column;
}

.contact-right-content form input {
    margin: 10px 0;
}

.contact-right-content form textarea {
    min-height: 70px;
}

@media (max-width: 768px) { 
    .contact-wrapper {
        flex-direction: column;
    }
}